.scheduling-settings {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
    justify-content: space-between;
}

.save-button {
    background-color: rgba(0, 0, 184, 0.952);
    width: 130px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.save-button:hover {
    background-color: rgb(59, 59, 255);
}