.AdminApp .NotesPage {
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;

}

.AdminApp .notes-container {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #384256;
    background-color: #e0f1ff;
    color: #596277;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding: 20px;
    height: 775px;
}

.AdminApp .notelist-container{
    padding-left: 15px;
    padding-right: 15px;
}

.AdminApp .notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 250px);
}

.AdminApp .note.new{
    background-color: #67d7cc;
}

.AdminApp #new-note-text{
    border: none;
    resize: none;
    background-color: #67d7cc;
}

.AdminApp textarea:focus{
    outline: none;
}

.AdminApp .delete-button{
    background-color: rgb(182, 2, 2);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.AdminApp .delete-button:hover{
    background-color: red;
    cursor: pointer;
}

.AdminApp .save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.AdminApp .save:hover{
    background-color: #ededed;
    cursor: pointer;
}

.AdminApp .note{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.AdminApp .note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}