.AdminApp .statistics-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.AdminApp .statistics-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.AdminApp .statistics-value {
    font-size: 20px;
    color: #384256;
}