.MainApp .aboutus_page {
    background-color: white;
}

.MainApp .aboutus_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 10rem;
}


.MainApp .company_logo img{
    width: 300px;
    border-radius: 30%;
    object-fit: cover;
}

.MainApp .aboutus_text{
    padding-left: 25px;
    padding-right: 25px;
}

.MainApp .aboutus_text h3{
    padding-bottom: 1rem;
    font-size: 2rem;
}

.MainApp .aboutus_text p{
    font-size: 1rem;
}

.MainApp .services_section {
    background-color: #1d1f20;
}

.MainApp .transition_block {
    height: 250px;
    background-color: #1d1f20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.MainApp .services_title {
    background-color: black;
    display: inline-block;
    color: white;
    padding: 1rem;
}


.MainApp .services_text{
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(25),
        cursor .4s step-end alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.MainApp .services_cards_container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.MainApp .service_card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.MainApp .service_card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.MainApp .service_image_container {
    background-color: #1d1f20;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;

}

.MainApp .service_image_container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.MainApp .service_card_text {
    text-align: center;
    line-height: 1.6;
    padding-top: 1rem;
}

.MainApp .service_description {
    padding: 0 20px;
}

