.MainApp .contact-pg {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #f1f1f1;
}

/* Hero Selection */
.MainApp .hero-section {
    padding: 30px 20px;
}

.MainApp .hero-content {
    align-items: center;
    text-align: center;
}

.MainApp .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222020;
}

.MainApp .hero-content p {
    font-size: 1.5rem;
    color: #222020;
    padding-top: 10px;
}

.MainApp .divider {
    width: 160px;
    height: 5px;
    background: black;
    margin: 30px auto;
}

.MainApp .contact-methods {
    text-align: center;
    padding: 60px 20px;
}

.MainApp .contact-methods h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #222020;
}

.MainApp .methods-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.MainApp .phone-method, .email-method, .office-method {
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.MainApp .phone-method h4, .email-method h4, .office-method h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.MainApp .phone-method p, .email-method p, .office-method p {
    font-size: 1rem;
    color: black;
    margin-bottom: 5px;
}

.MainApp .phone-method a, .email-method a {
    text-decoration: none;
    font-weight: bold;
}

.MainApp .phone-method a:hover, .email-method a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .MainApp .hero-content h1{
        font-size: 1.5rem;
    }

    .MainApp .contact-methods h2{
        font-size: 1rem;
    }

    .MainApp .hero-content p{
        font-size: 0.8rem;
    }

    .MainApp .phone-method h4, .email-method h4, .office-method h4{
        font-size: 1.2rem;
    }

    .MainApp .phone-method p, .email-method p, .office-method p, .MainApp .phone-method a, .email-method a{
        font-size: 0.9rem;
    }

    .MainApp .divider{
        height: 2.5px;
    }
}