.MainApp .nav {
    background-color: #0f1011;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
}

.MainApp .nav-left {
    display: flex;
    align-items: center;
}

.MainApp .title h4 {
    font-size: 35px;
    margin-right: 10px;
  }


.MainApp .nav-right {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.MainApp .sb-button {
    padding: 1px 5px;
    background-color: #0f1011;
}

.MainApp .button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 5px;
    margin-right: 10px;
    transition: transform 0.3s ease;
} 

.MainApp .nav-right.shift-left .button {
  transform: translateX(-100px); /* Move left with sidebar */
}

/* SidebarCss */

/* Sidebar default hidden state */
.MainApp .Sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

/* Open state when sidebar is visible */
.MainApp .Sidebar.open {
    width: 270px;
}

.MainApp .close-btn {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.MainApp .SidebarList .row {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s;
}

.MainApp .SidebarList .row:hover {
    background-color: #575757;
}

.MainApp #active {
    background-color: #575757;
}

.MainApp .toggle-btn {
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    /* position: absolute; */
    top: 35px;
    right: 75px;
    transition: 0.3s;
}

.MainApp .toggle-btn:hover {
    background-color: #575757;
}

.MainApp .toggle-btn span {
    display: block;
    width: 40px;
    height: 4px;
    background-color: white;
    margin: 7px 0;
}