.MainApp .testimonial-section {
    
    background-color: #f1f1f1;
    color: #222020;
    text-align: center;
}

.MainApp .testimonial-container {
    max-width: 1200px;
    margin: auto;
    overflow: visible;
    padding: 0 20px;
    margin: 0 auto;
}

.MainApp .header-divider {
    width: 160px;
    height: 5px;
    background: black;
    margin: 30px auto;
}

.MainApp .testimonial-header {
    padding-top: 30px;
    font-size: 36px;
    color: #222020;
}

.MainApp .testimonial-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.MainApp .testimonial-card {
    background: whitesmoke;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    padding: 50px 30px 30px;
    position: relative;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.MainApp .testimonial-card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.MainApp .company-logo {
    margin: -70px auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    z-index: 10;
    position: relative;

}

.MainApp .testimonial-description {
    margin: auto;
    padding-top: 10px;
    max-width: 800px;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-next {
    right: 10px;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
    color: grey; 
}

@media all and (max-width: 768px) {
    .MainApp .header-divider {
        height: 2px;
        margin: 20px auto;
    }
    
    .MainApp .testimonial-header {
        padding-top: 50px;
        font-size: 25px;
    }

    .MainApp .testimonial-container{
        width: 90%; /* or any percentage that fits your design */
        max-width: 370px;
        margin: 0 auto; /* Centers the container */
        margin-bottom: 100px;
        padding: 0 10px; /* Optional: Add horizontal padding to reduce gap further */
    }

}

