.AdminApp .manage-appointments {
    padding-right: 20px;
    padding-left: 20px;
    height: 100vh;
  }
  
.AdminApp .manage-appointments h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
.AdminApp .appointments-list {
    margin-bottom: 40px;
  }
  
.AdminApp .appointments-list ul {
    list-style-type: none;
    padding: 0;
  }
  
.AdminApp  .appointments-list li {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #384256;
    border-radius: 5px;
    color: #596277;
  }
  
.AdminApp .appointments-list li p {
    margin: 5px 0;
  }
  
.AdminApp button {
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
.AdminApp button:hover {
    opacity: 0.8;
  }
  
.AdminApp button:active {
    opacity: 0.6;
  }
  
.AdminApp button.cancel-button {
    background-color: #e74c3c;
    color: white;
  }
  
.AdminApp button.reschedule-button {
    background-color: #3498db;
    color: white;
  }
  
.AdminApp .reschedule-form {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #e0f1ff;
    border-radius: 5px;
  }
  
.AdminApp .reschedule-form h3 {
    margin-bottom: 15px;
    color: #384256;
  }
  
.AdminApp  .reschedule-form div {
    margin-bottom: 10px;
  }
  
.AdminApp  .reschedule-form label {
    display: block;
    margin-bottom: 5px;
    color: #384256;
  }
  
.AdminApp .reschedule-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
.AdminApp .reschedule-form button {
    margin-right: 10px;
  }