/*For Navbar*/

.MainApp .nav {
    background-color: #0f1011;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    padding-top: 40px;
    padding-left: 2rem;
}

.MainApp .title {
    font-size: 40px;
    padding-left: 75px;
}

.MainApp .sample{
    font-size: 30px;
    padding-right: 20rem;
}

.MainApp .button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 5px;
}

.MainApp .main_about {
    height: 300px;
    background-color: #1d1f20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainApp .who_are_we_container {
    background-color: black;
    display: inline-block;
    color: white;
    padding: 1rem;
}

.MainApp .who_text{
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(25) infinite ,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.MainApp .company_container{
    background-color: #181a1b;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

.MainApp .title-text{
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18rem;
    padding-left: 25rem;
}

.MainApp .company_logo img{
    width: 300px;
    border-radius: 30%;
    object-fit: cover;
}

.MainApp .company_name {
    font-weight: bold;
    font-size: 2rem;
}

.MainApp .yelp_container {
    background-color: #181a1b;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 2rem; 
    padding-left: 8rem; 
}

/*For Yelp Service*/
.MainApp .yelp_service_img {
    margin-left: 2rem;
}
.MainApp .yelp_service_img img{
    border: 5px solid cadetblue;
    border-radius: 10px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

/* .MainApp .vLine {
    border-left: 6px solid black;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: 4px;
 } */

.MainApp .service_one{
    font-size: x-large;
    text-align: left;
    max-width: 800px;
    padding-right: 150px;
    margin: 0 auto;
}

.MainApp .yelp_title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.MainApp .campaign_text_right{
    text-align: left;
    margin-bottom: 20px;
}


/*For Business Coaching*/
.MainApp .business_coaching_container {
    background-color: #1d1f20;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 2rem; 
    padding-left: 8rem; 
}

.MainApp .business_service_img {
    margin-right: 6rem;
}

.MainApp .business_service_img img{
    border: 5px solid cadetblue;
    border-radius: 10px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.MainApp .service_two{
    font-size: x-large;
    text-align: left;
    max-width: 800px;
    padding-left: 150px;
    margin: 0 auto;
}

.MainApp .coaching_title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.MainApp .campaign_text_left{
    text-align: left;
    margin-bottom: 20px;
}


/*For Communication Optimization*/

.MainApp .optimization_container {
    background-color: #181a1b;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem 2rem; 
    padding-left: 8rem;
}

.MainApp .optimization_img {
    margin-left: 2rem;
}
.MainApp .optimization_img img{
    border: 5px solid cadetblue;
    border-radius: 10px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.MainApp .service_three{
    font-size: x-large;
    text-align: left;
    max-width: 800px;
    padding-right: 150px;
    margin: 0 auto;
}

.MainApp .optimization_title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}
