/*For Navbar*/
.MainApp .nav {
    background-color: #0b0a17;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-left: 2rem;
}

.MainApp .title {
    font-size: 30px;
}

.MainApp .sample{
    font-size: 30px;
    padding-right: 20rem;
}

.MainApp .button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 5px;
}

/*For HeroSection*/
.MainApp .Homes {
    height: 300px;
    /* background-image: url(../assets/hero.jpeg);
    background-size: cover;
    filter: grayscale(100%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: xx-large; */
}

.MainApp .container {
    background-color: black;
    display: inline-block;
    color: white;
    padding: 1rem;
}

.MainApp .text{
    font-size: 2em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 3s steps(25) infinite ,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.MainApp .containersz{
    background-color: #0b0a17;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}


.MainApp .title-text{
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18rem;
    padding-left: 25rem;
}

.MainApp .serv_container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-left: 13rem; 
}
/*For Content1*/
.MainApp .serv_img img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.MainApp .vLine {
    border-left: 6px solid black;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -4px;
 }

.MainApp .service_one{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    right: 250px;
}

/*For Content2*/
.MainApp .serv_container_t {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-right: 16rem; 
}

.MainApp .serv_img_t img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.MainApp .service_two{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    left: 150px;
}

/*For Content3*/
.MainApp .serv_container_th {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-left: 13rem; 
}

.MainApp .serv_img_th img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.MainApp .service_three{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    right: 150px;
}
