.MainApp .contact-pg {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242729;
}

/* Hero Selection */
.MainApp .hero-section {
    background: linear-gradient(to bottom, #0f1011 30%, #242729 100%);
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
}

.MainApp .hero-content {
    align-items: center;
    text-align: center;
}

.MainApp .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.MainApp .hero-content p {
    font-size: 1.5rem;
    color: #9c978d;
    padding-top: 10px;
    padding-bottom: 20px;
}

.MainApp .contact-methods {
    text-align: center;
    padding: 60px 20px;
}

.MainApp .contact-methods h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: white;
}

.MainApp .methods-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.MainApp .phone-method, .email-method, .office-method {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0. 0.1);
    text-align: center;
}

.MainApp .phone-method h4, .email-method h4, .office-method h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.MainApp .phone-method p, .email-method p, .office-method p {
    font-size: 1rem;
    color: black;
    margin-bottom: 5px;
}

.MainApp .phone-method a, .email-method a {
    text-decoration: none;
    font-weight: bold;
}

.MainApp .phone-method a:hover, .email-method a:hover {
    text-decoration: underline;
}