/* General Styles */
.MainApp body {
    font-family: 'Roboto', sans-serif;
  }
  
  .MainApp .schedule-appt-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 20px;
  }
  
  .MainApp form {
    display: flex;
    flex-direction: column;
  }
  
  .MainApp form div {
    margin-bottom: 15px;
  }
  
  .MainApp label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .MainApp input[type="text"], input[type="date"], input[type="time"], textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .MainApp textarea {
    height: 100px;
    resize: vertical;
  }
  
  .MainApp .submit_button {
    width: 80%;
    background-color: #9facbb;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .MainApp button:hover {
    background-color: #5e666e;
  }
  
  .MainApp .appointments-list {
    margin-top: 20px;
  }
  
  .MainApp .appointments-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .MainApp .appointments-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .MainApp .appointments-list li p {
    margin: 5px 0;
  }
  
  .MainApp .appointments-list button {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .MainApp .appointments-list button:hover {
    background-color: #cc0000;
  }
  
  .MainApp .appoint_background{
    /* background-image: url('../assets/apointment_page.jpg'); */
    height: 75vh;
    background-size: cover;
}