/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  .schedule-appt-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit_button {
    background-color: #7c9fcb;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #5288ca;
  }
  
  .appointments-list {
    margin-top: 20px;
  }
  
  .appointments-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .appointments-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .appointments-list li p {
    margin: 5px 0;
  }
  
  .appointments-list button {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .appointments-list button:hover {
    background-color: #cc0000;
  }
  