*{
    margin: 0;
    padding: 0;
    font-family: "monsterrat", sans-serif
}

.Testimonials {
    /* display: flex;
    flex-direction: column; */
    padding-left: 30px;
    align-items: left;
    text-align: center;
}

.inner {
    max-width: 1500px;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    color: black;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial {
    background: #fff;
    padding: 30px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* .USAPRO,
.APEX,
.ClearPROs {
    flex: 0 0 100%;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
}

.USAPRO-img,
.APEX-img,
.ClearPROs-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    
} */