.MainApp *{
    margin: 0;
    padding: 0;
    font-family: "monsterrat", sans-serif
}

.MainApp .Testimonials {
    padding-left: 30px;
    align-items: left;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.MainApp .inner {
    max-width: 1500px;
    overflow: hidden;
    padding: 0 20px;
}

.MainApp .border {
    width: 160px;
    height: 5px;
    background: black;
    margin: 30px auto;

}

.MainApp .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.MainApp .col {
    box-sizing: border-box;
    padding: 15px;
}
.MainApp .Testimonial {
    background: #fff;
    padding: 30px;
}
.MainApp .Testimonial img{
    width: 100;
    height: 100px;
    border-radius: 50%;
}

.MainApp .USAPRO,
.MainApp .APEX,
.MainApp .ClearPRO {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.MainApp .Description {
    margin: auto;
}