/* The following CSS is for Main site*/

.MainApp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
}

.MainApp body {
    margin: 0;
    padding: 0;
}

