.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

/*
Sidebar CSS
*/
.Sidebar {
    position: absolute;
    height: 100%;
    width: 250px;
    right: 0;
    background-color: #303030;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
    
}

    .SidebarList .row {
        width: 100%;
        height: 60px;
        border-bottom: 4px solid #FFF9F9;
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .SidebarList .row:hover {
        cursor: pointer;
        background-color: #1e1e1e;
    }

    .SidebarList #active {
        background-color: #1e1e1e;
    }

    .row #title {
        flex: 70%;
        display: grid;
        place-items: center;
    }

/* Temporary App for testing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AdminApp {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #2a3447;
    color: white;
}

.container {
    display: flex;
}

.menuContainer {
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid #384256;
}

.contentContainer {
    width: 100%;
}