.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

/*
Sidebar CSS
*/
.Sidebar {
    position: absolute;
    height: 67.4%;
    width: 250px;
    right: 0;
    background-color: #303030;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

    .SidebarList .row {
        width: 100%;
        height: 60px;
        border-bottom: 4px solid #FFF9F9;
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .SidebarList .row:hover {
        cursor: pointer;
        background-color: #1e1e1e;
    }

    .SidebarList #active {
        background-color: #1e1e1e;
    }

    .row #title {
        flex: 70%;
        display: grid;
        place-items: center;
    }

    /*
    For the home page
    */
.Home {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: left;
}

.companyName {
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.bodyText-box {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    position: relative;
}

.bodyImg-box {
    flex: 1;
    padding: 20px;
    overflow: hidden;
}

.ourClients-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: auto;
}

.USAPRO,
.APEX,
.ClearPROs {
    flex: 0 0 100%;
    text-align: center;
    max-height: 200px;
    overflow: hidden;
}

.USAPRO-img,
.APEX-img,
.ClearPROs-img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    
}

/* For Footer */

.section__padding{
    padding: 20px;
}

.footer{
    background-color: #0b0a17;
}

.sb__footer{
    display: flex;
    flex-direction: column;
}

.sb__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb__footer-links_div{
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a{
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 100%;
}

.sb__footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb__footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb__footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb__footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb__footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%;
}

.sb__footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

@media screen and (max-width: 850px){
    .sb__footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px){
    .sb__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .sb__footer-links div{
        margin: 1rem 0;
    }

    .sb__footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .sb__footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .sb__footer-below-links{
        flex-direction: column;
    }

    .sb__footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px){
    .sb__footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}

.Testimonials {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: left;
}

.header {
    margin-bottom: 20px;
}

.partners {
    flex: 1;
    padding: 20px;
    overflow: hidden;
}